---
import { db } from '@backend/db';
import Layout from '@layouts/Layout.astro';
import CounterApp from '@components/CounterApp.vue';

const { session, langId } = Astro.locals;

session.counter ??= 0;
session.counter++;

const databaseCounter = (await db.query<{ count: number }>('SELECT Count(*) as count FROM counter')).rows[0]?.count;

const translations = {
    'en': {
        'Hello World': 'Hello World',
        'Session counter': 'Session counter',
        'Database counter': 'Database counter',
        'Count': 'Count',
        'Increment counter': 'Increment counter',
        'Language': 'Language',
        'Semesters': 'Semesters',
    },
    'pl': {
        'Hello World': 'Witaj Świecie',
        'Session counter': 'Licznik sesji',
        'Database counter': 'Licznik bazy danych',
        'Count': 'Liczba',
        'Increment counter': 'Zwiększ licznik',
        'Language': 'Język',
        'Semesters': 'Semestry',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}
---

<Layout breadcrumbs={[{ text: translate('Semesters'), href: '/' }]}>
    <div class="text-center py-2">
        {translate('Hello World')}!
        <i class="bi bi-emoji-smile"></i>
        <br />
        {translate('Session counter')}: {session.counter}
        <br />
        {translate('Database counter')}: {databaseCounter}
        <br />
        <form action="/increment-counter/" method="post">
            <input type="number" name="count" class="form-control" placeholder={translate('Count')} />
            <button type="submit" class="btn btn-success"> {translate('Increment counter')} </button>
        </form>
        <CounterApp client:only="vue" />
        {translate('Language')}: {langId}
    </div>
</Layout>
