---
import Layout from '@layouts/Layout.astro';
import LoginForm from '@components/LoginForm.vue';

const { langId, user } = Astro.locals;

if (user) {
    return Astro.redirect('/');
}

const translations = {
    'en': {
        'LoginTitle': 'Sign in to Lab KTI',
    },
    'pl': {
        'LoginTitle': 'Zaloguj się do Lab KTI',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}
---

<Layout breadcrumbs={[]}>
    <h2 class="text-center mb-4">{translate('LoginTitle')}</h2>
    <LoginForm client:only="vue" />
</Layout>
