---
import { getNextPage } from 'src/utils';
import Layout from '@layouts/Layout.astro';
import LoginForm from '@components/LoginForm.vue';

const { langId, user } = Astro.locals;

const nextPage = getNextPage(Astro.url);

if (user) {
    return Astro.redirect(nextPage);
}

const translations = {
    'en': {
        'Sign in to Lab KTI': 'Sign in to Lab KTI',
    },
    'pl': {
        'Sign in to Lab KTI': 'Zaloguj się do Lab KTI',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}
---

<Layout breadcrumbs={[]}>
    <h2 class="text-center mb-4">{translate('Sign in to Lab KTI')}</h2>
    <LoginForm client:only="vue" nextPage={nextPage} />
</Layout>
