---
import { Semester } from '@backend/semester';
import Layout from '@layouts/Layout.astro';
import AddSemester from '@components/semesters/AddSemester.vue';
import Show from '@components/Show.astro';

const { langId, user } = Astro.locals;

const translations = {
    'en': {
        'Semesters': 'Semesters',
        'Winter semester': 'Winter semester',
        'Summer semester': 'Summer semester',
        'Select a semester': 'Select a semester',
    },
    'pl': {
        'Semesters': 'Semestry',
        'Winter semester': 'Semestr zimowy',
        'Summer semester': 'Semestr letni',
        'Select a semester': 'Wybierz semestr',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

const semesters = await Semester.fetchAll();
---

<Layout breadcrumbs={[{ text: translate('Semesters'), href: '#' }]}>
    <h1 class="text-center fs-4">
        {translate('Select a semester')}
    </h1>
    <Show when={semesters.length > 0}>
        <div class="semesters-list list-group mx-auto">
            {
                semesters.map(
                    semester =>
                        (
                            <a href={`/semesters/${semester.slug}/`} class="list-group-item list-group-item-action">
                                {semester.type === 'summer'
                                    ? translate('Summer semester')
                                    : translate('Winter semester')}{' '}
                                {`${semester.year}/${semester.year + 1}`}
                            </a>
                        ) as unknown,
                )
            }
        </div>
    </Show>
    <Show when={user !== null}>
        <AddSemester client:only="vue" class="d-block mx-auto mt-3" />
    </Show>
</Layout>

<style>
    .semesters-list {
        width: min(600px, 100%);
    }
</style>
