---
import { Semester } from '@backend/semester';
import Layout from '@layouts/Layout.astro';
import AddSemester from '@components/semesters/AddSemester.vue';

const { langId, user } = Astro.locals;

const translations = {
    'en': {
        'Semesters': 'Semesters',
        'Winter semester': 'Winter semester',
        'Summer semester': 'Summer semester',
    },
    'pl': {
        'Semesters': 'Semestry',
        'Winter semester': 'Semestr zimowy',
        'Summer semester': 'Semestr letni',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

const semesters = await Semester.fetchAll();
---

<Layout breadcrumbs={[{ text: translate('Semesters'), href: '#' }]}>
    {user && <AddSemester client:only="vue" />}
    <div class="semesters-list list-group mx-auto my-4">
        {
            semesters.map(
                semester =>
                    (
                        <a href={`/semesters/${semester.slug}/`} class="list-group-item list-group-item-action">
                            {semester.type === 'summer' ? translate('Summer semester') : translate('Winter semester')}{' '}
                            {`${semester.year}/${semester.year + 1}`}
                        </a>
                    ) as unknown,
            )
        }
    </div>
</Layout>

<style>
    .semesters-list {
        max-width: 600px;
    }
</style>
