---
import { Semester } from '@backend/semester';
import Layout from '@layouts/Layout.astro';
import AddSemester from '@components/semesters/AddSemester.vue';
import EditSemester from '@components/semesters/EditSemester.vue';

const { langId, user } = Astro.locals;

const translations = {
    'en': {
        'Semesters': 'Semesters',
        'Winter semester': 'Winter semester',
        'Summer semester': 'Summer semester',
    },
    'pl': {
        'Semesters': 'Semestry',
        'Winter semester': 'Semestr zimowy',
        'Summer semester': 'Semestr letni',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

const semesters = await Semester.fetchAll();
---

<Layout breadcrumbs={[{ text: translate('Semesters'), href: '#' }]}>
    {user && <AddSemester client:only="vue" />}
    <div class="semesters-list list-group mx-auto my-4">
        {
            semesters.map(
                s =>
                    (
                        <a
                            href={`/semesters/${s.type}-${s.year}/`}
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        >
                            {s.type === 'summer' ? translate('Summer semester') : translate('Winter semester')}{' '}
                            {`${s.year}/${s.year + 1}`}
                            {user && (
                                <div class="edit-semester-wrapper">
                                    <EditSemester semester={s} client:only="vue" />
                                </div>
                            )}
                        </a>
                    ) as unknown,
            )
        }
    </div>
</Layout>

<style>
    .semesters-list {
        max-width: 600px;
    }

    .edit-semester-wrapper {
        display: none;
    }

    .list-group-item:hover .edit-semester-wrapper {
        display: block;
        background-color: white;
    }

    .list-group-item:hover .edit-semester-wrapper:hover {
        background-color: inherit;
    }
</style>
