---
import { Classroom } from '@backend/classroom';
import Layout from '@layouts/Layout.astro';
import AddClassroom from '@components/classrooms/AddClassroom.vue';
import EditClassroom from '@components/classrooms/EditClassroom.vue';
import Show from '@components/Show.astro';

const { langId, user, redirectToLoginPage } = Astro.locals;

if (!user) {
    return redirectToLoginPage();
}

const translations = {
    'en': {
        'Classrooms': 'Classrooms',
    },
    'pl': {
        'Classrooms': 'Sale laboratoryjne',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

const classrooms = await Classroom.fetchAll();
---

<Layout breadcrumbs={[{ text: translate('Classrooms'), href: '#' }]}>
    <h1 class="text-center fs-4">
        {translate('Classrooms')}
    </h1>
    <Show when={classrooms.length > 0}>
        <div class="classrooms-list list-group mx-auto">
            {
                classrooms.map(
                    c =>
                        (
                            <div class="list-group-item d-flex justify-content-between align-items-center">
                                <span>{c.name}</span>
                                <EditClassroom client:only="vue" classroom={{ id: c.id, name: c.name }} />
                            </div>
                        ) as unknown,
                )
            }
        </div>
    </Show>
    <AddClassroom client:only="vue" class="d-block mx-auto mt-3" />
</Layout>

<style>
    .classrooms-list {
        width: min(600px, 100%);
    }

    .list-group-item > :global(astro-island > button) {
        visibility: hidden;
    }

    .list-group-item:hover > :global(astro-island > button) {
        visibility: visible;
    }
</style>
