---
import Page from '@layouts/Page.astro';

interface Props {
    title?: string | undefined;
    description?: string | null | undefined;
}

const { title, description } = Astro.props;
---

<Page title={title} description={description}>
    <header class="bg-body-secondary">
        <nav class="navbar">
            <div class="container-xxl">
                <a class="navbar-brand" href="/">KTI</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <slot />
    </div>
</Page>

<style lang="scss">
    .container {
        flex: 1;
    }

    header {
        margin-inline: calc((100vw - 100%) / -2);
        padding-inline: calc((100vw - 100%) / 2);
    }
</style>
