---
import Navbar from '@components/Navbar.astro';
import Page from '@layouts/Page.astro';

interface Props {
    title?: string | undefined;
    description?: string | null | undefined;
    breadcrumbs: Breadcrumb[];
}

const { title, description, breadcrumbs } = Astro.props;
---

<Page title={title} description={description}>
    <Navbar breadcrumbs={breadcrumbs} />
    <div class="container mt-4">
        <slot />
    </div>
</Page>

<style lang="scss">
    .container {
        flex: 1;
    }
</style>
