---
import Page from '@layouts/Page.astro';

interface Props {
    title?: string | undefined;
    description?: string | null | undefined;
}

const { title, description } = Astro.props;
---

<Page title={title} description={description}>
    <div class="container">
        <slot />
    </div>
</Page>

<style lang="scss">
    .container {
        flex: 1;
    }
</style>
