---
import '@layouts/style.scss';
import { makeUserDetailsData } from '@backend/user';

interface Props {
    title?: string | undefined;
    description?: string | null | undefined;
}

const { title = 'KTI Planner', description = null } = Astro.props;
const { langId, user } = Astro.locals;

const userData = user ? makeUserDetailsData(user) : null;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="/favicon.svg" type="image/svg" />
        <title>
            {title}
        </title>
        {description !== null ? <meta name="description" content={description} /> : null}

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css?ver=5.3.3" />
        <link rel="stylesheet" href="/assets/css/bootstrap-icons.min.css?ver=1.11.3" />

        <script is:inline define:vars={{ langId, userData }}>
            globalThis.langId = langId;
            globalThis.user = userData;
        </script>
        <script is:inline src="/assets/js/bootstrap.bundle.min.js?ver=5.3.3"></script>
        <script>
            import { themes, themeKey, defaultTheme, type Theme } from '@components/themes/types';

            let theme = localStorage.getItem(themeKey);

            if (!theme || !themes.includes(theme as Theme)) {
                theme = defaultTheme;
                localStorage.setItem(themeKey, theme);
            }

            document.documentElement.dataset.bsTheme = theme;
        </script>
    </head>
    <body>
        <div class="wrapper">
            <slot />
        </div>
    </body>
</html>

<style lang="scss">
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        scroll-behavior: smooth;
        height: 100vh;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-gutter: stable both-edges;
    }
</style>
