---
import { User } from '@backend/user';
import Layout from '@layouts/Layout.astro';
import Show from '@components/Show.astro';
import AddUser from '@components/users/AddUser.vue';

const { langId, user, redirectToLoginPage } = Astro.locals;

if (!user) {
    return redirectToLoginPage();
}

const translations = {
    'en': {
        'Users': 'Users',
    },
    'pl': {
        'Users': 'Użytkownicy',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

const users = await User.fetchAll();
---

<Layout breadcrumbs={[{ text: translate('Users'), href: '#' }]}>
    <h1 class="text-center fs-4">
        {translate('Users')}
    </h1>
    <Show when={users.length > 0}>
        <div class="users-list list-group mx-auto">
            {
                users.map(
                    s =>
                        (
                            <a class="list-group-item list-group-item-action" href={`/users/${s.id}/`}>
                                {s.name}
                            </a>
                        ) as unknown,
                )
            }
        </div>
    </Show>
    <Show when={user.role === 'admin'}>
        <AddUser client:only="vue" class="d-block mx-auto mt-3" />
    </Show>
</Layout>

<style>
    .users-list {
        width: min(600px, 100%);
    }
</style>
