---
import { User } from '@backend/user';
import Layout from '@layouts/Layout.astro';
import Show from '@components/Show.astro';
import AddUser from '@components/users/AddUser.vue';

const { langId, user, redirectToLoginPage } = Astro.locals;

if (!user) {
    return redirectToLoginPage();
}

const translations = {
    'en': {
        'Users': 'Users',
    },
    'pl': {
        'Users': 'Użytkownicy',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

const users = await User.fetchAll();
---

<Layout breadcrumbs={[{ text: translate('Users'), href: '#' }]}>
    <div class="vstack gap-3 align-items-center">
        <Show when={users.length > 0}>
            <div class="users-list list-group">
                {
                    users.map(
                        s =>
                            (
                                <a class="list-group-item list-group-item-action" href={`/users/${s.id}/`}>
                                    {s.name}
                                </a>
                            ) as unknown,
                    )
                }
            </div>
        </Show>
        <Show when={user.role === 'admin'}>
            <AddUser client:only="vue" />
        </Show>
    </div>
</Layout>

<style>
    .users-list {
        width: min(600px, 100%);
    }
</style>
